name: PR Checks

on: pull_request

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 22
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Build and test project
        run: ./gradlew build --no-daemon

  spotless:
    name: Spotless Check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 22
      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Spotless Check
        run: ./gradlew spotlessCheck --no-daemon
