name: PR Checks

on: pull_request

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 22
      - run: chmod +x ./gradlew
      - run: ./gradlew assemble --no-daemon

  test:
    name: Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 22
      - run: chmod +x ./gradlew
      - run: echo "SPRING_PROFILES_ACTIVE=test" >> $GITHUB_ENV
      - run: ./gradlew test --no-daemon

  spotless:
    name: Spotless Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 22
      - run: chmod +x ./gradlew
      - run: ./gradlew spotlessCheck --no-daemon
